body{
    background-color: #04060A;
    color: whitesmoke;

    margin: 0;
    padding: 5px;
}

.title{
    margin-top: 10px;
}
.btnStyle{
    font-size: 4vw;
    background: linear-gradient( #be2eed, #5f27cd);
   font-weight: bold;
    padding: 1vw 3vw 1vw 3vw;
    border-radius: 5px;
    margin-top: 5px;
    border: none;
    border: groove;
    cursor: pointer;
    
}
.btnStyle2{
    font-size: 2vw;
    background: linear-gradient( #be2eed, #5f27cd);
   font-weight: bold;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    margin-top: 5px;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    
}
.btnAnswer{
    display: flex;
    background: linear-gradient(90deg, #3D14FC, #1328F2);
    border-radius: 7px ;
    height: auto;
    width: 40vw;
    font-size:4.3vw;
    font-weight: bolder;
    margin-top: 10px;
    flex-shrink: 1;
    color: #04060A;
   
   
}
.container{
    display: flex;
    flex-direction: column;
    
    margin: 30px;
    border: 2px white solid;
    border-radius: 5px;
    align-items: center;
    align-content: center;
    
}
.btnStyle:hover {
    
    background: linear-gradient(90deg, #5f27cd, #be2eed);
    transition: 35s;
    
    
}
.btnStyle2 :hover {
    
    background: linear-gradient(90deg, #5f27cd, #be2eed);
    transition: 35s;
    color: #9D9BEB;
    
    
}
.f:hover{
  
  color:#9D9BEB;
   border-radius: 10px ;
    transition: 500ms;
    cursor: pointer;
}
#question{
    font-size: 3vw;
    width: 40vw;
}
ol{
    padding-left: 10px;
}
h5{
    font-size: 2.3vw;
    margin: 5px;
}
.WorR{
    font-style:unset;

}
li:hover{
    cursor: default;
}
#name{
    background-color:  #04060A;
    font-size: 4vw;
    display: flex;
   width: 39vw;
   font-weight: bold;
   color:   #9D9BEB;
}
label{
    font-weight: bold;
    font-size: 3vw;
    text-align: center;
}
li{
    display: flex;
    background: linear-gradient(90deg, #3D14FC, #1328F2);
    border-radius: 7px ;
    height: auto;
    width: 40vw;
    font-size:4.3vw;
    font-weight: bolder;
    margin-top: 10px;
    flex-shrink: 1;
    color: #04060A;
   
    
}