body{
    background-color: #04060A;
    color: whitesmoke;

    margin: 0;
    padding: 5px;
}

.title{
    margin-top: 90px;
}
.btnStyle{
    font-size: large;
    background: linear-gradient(900eg, #be2eed, #5f27cd);
   font-weight: bold;
    padding: 15px 55px 15px 55px;
    border-radius: 5px;
    margin-top: 15px;
    border: none;
    border: groove;
    cursor: pointer;
    
}
.btnAnswer{
    display: flex;
    background-color: #ADCCC8;
    height: auto;
    width: auto;
    font-size: 250%;
    font-weight: bolder;
    margin-top: 10px;
    flex-shrink: 1;
    color: #04060A;
   
}
.container{
    display: flex;
    flex-direction: column;
    
    margin: 50px;
    border: 2px white solid;
    border-radius: 5px;
    align-items: center;
    align-content: center;
    
}
.btnStyle:hover {
    
    background: linear-gradient(90deg, #3D14FC, #1328F2);
    
}
li:hover{
  
   border: #ADCCC8 2px solid;
    transition: 500ms;
    cursor: pointer;
}