body{
    background-color: #04060A;
    color: whitesmoke;

    margin: 0;
    padding: 5px;
}

.title{
    margin-top: 90px;
}
.btnStyle{
    font-size: large;
    background: linear-gradient( #be2eed, #5f27cd);
   font-weight: bold;
    padding: 15px 55px 15px 55px;
    border-radius: 5px;
    margin-top: 15px;
    border: none;
    border: groove;
    cursor: pointer;
    
}
.btnAnswer{
    display: flex;
    background: linear-gradient(90deg, #3D14FC, #1328F2);
    border-radius: 7px ;
    height: auto;
    width: 40vw;
    font-size:4.3vw;
    font-weight: bolder;
    margin-top: 10px;
    flex-shrink: 1;
    color: #04060A;
   
   
}
.container{
    display: flex;
    flex-direction: column;
    
    margin: 30px;
    border: 2px white solid;
    border-radius: 5px;
    align-items: center;
    align-content: center;
    
}
.btnStyle:hover {
    
    background: linear-gradient(90deg, #5f27cd, #be2eed);
    transition: 35s;
    
}
li:hover{
  
   border-radius: 10px ;
    transition: 500ms;
    cursor: pointer;
}
#question{
    font-size: 3vw;
    width: 40vw;
}
ol{
    padding-left: 10px;
}
h5{
    font-size: 2.3vw;
    margin: 5px;
}